.boton-contenedor {
    height: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    font-weight: bold;
    color: white;
    background-color: #1b1b32;
    margin: 4px;
    cursor: pointer;
    border: solid 2px white;
    user-select: none;
    flex: 1 1;
    border-radius: 30px;
}

.boton-contenedor:hover{
    background-color: #5a01a7;
}

.operador{
    background-color: #00471b;

}

.operador:hover{
    background-color: #ff6600;
}